<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>Davis Computer Science Club Tutoring Committee</title>

    <link rel="stylesheet" type="text/css" href="/athena/style/main.css"/>

    <script src="/bower_components/angularjs/angular.min.js"></script>
    <script src="/bower_components/angularjs/angular-animate.min.js"></script>
    <script src="/bower_components/angularjs/angular-messages.min.js"></script>
    <script src="/bower_components/angularjs/angular-resource.min.js"></script>
    <script src="/bower_components/angularjs/angular-route.min.js"></script>
    <script src="/bower_components/angularjs/angular-sanitize.min.js"></script>
</head>
<body>

<header class="paper">
    <a class="logo" href="https://daviscsclub.org/"><img height="27px" src="/img/logo/logo_CS6.png"/></a>
    <span class="site-name">Tutoring Committee</span>
</header>
<main>
    <div class="content paper">
    </div>
    <nav>
        <ul class="paper">
            <li>Test</li>
            <li>t</li>
        </ul>
    </nav>
</main>
<footer>
    <img class="bot" height="100px" src="/athena/img/bot.svg"/>
    <!-- This div prevents the flexbox from putting each <p> in a row -->
    <div>
        <p>&copy; 2015 Davis Computer Science Club</p>
    </div>
</footer>

</body>
</html>